@media screen and (max-width: 767px) {
     /* Header */
  .headerSection {
    background-color: #b67216;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .logoImgDiv {
    margin-left: 16px;
  }
  .logoImg {
    min-width: 44px;
    min-height: 44px;
  }
  .headerLinksContainer {
    display: flex;
    margin: auto;
  }
  .headerLinks {
    margin: 0 20px;
    font-style: inter;
    font-size: 16px;
    color: #fff;
    font-weight: 400;
  } 

  .headerBtmTitle {
   display: none;
  }

  .headerBtmIcon {
    max-width: 70px;
    max-height: 70px;
  }
}

/* DeskTop */

@media screen and (min-width: 768px) {
  /* Header */
  .headerSection {
    background-color: #b67216;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .logoImgDiv {
    margin-left: 60px;
    /* width: 20%; */
  }
  .logoImg {
    min-width: 60px;
    min-height: 60px;
  }
  .headerLinksContainer {
    display: flex;
    margin: auto;
  }
  .headerLinks {
    margin: 0 60px;
    font-family: interFont;    
    font-size: clamp(14px, 2vw, 36px);
    color: #fff;
    font-weight: 400;
  }

  .headerBtmDiv {
    background-color: #edd498;
    margin-right: 3%;
    border-radius: 8px;
  }
  .headerBtmTitle {
    font-family: inter;
    font-weight: 600;
    font-size: clamp(14px, 2vw, 24px);   
    padding: clamp(10px, 2vw, 20px) clamp(5px, 1.5vw, 11px);
    color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
  }
  .headerBtmIcon {
    display: none;
  }

  /* HERO */

  .heroSection {
    /* background-color: #FFF5DD; */
    overflow: hidden;
    position: relative;    
  }

  .heroImgDiv {    
    margin-left: 50%;    
    min-width: 600px;
    width: 100%;
    /* width: clamp(600px, 2vw, 1400px); */
    min-height: 400px;
    max-width: 1400px;
    max-height: 800px;   
  }
  .heroImg {
    width: clamp(600px, 80vw, 1000px);
    height: auto; 
    display: block;
    width: 1479px;
    height: 529px;
  }

  .heroTitleDiv {
    margin-left: 170px;
    /* margin-top: 120px; */
  }

  .heroTitle {
    font-family: interFont;
    font-weight: 400px;
    font-size: clamp(50px, 2vw, 64px);
    letter-spacing: 2px;    
  }
  .heroBtm {
    background-color: #B67216;
    padding: 15px 14px;
    color: #fff;
    font-size: 26px;
    font-family: interFont;
    font-weight: 600;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
    margin-top: 20px;
  }
}
