@import "tailwindcss";

@theme inline {
  /* Breakpoints */
  --breakpoint-*: initial;
  --breakpoint-sm: 22.5rem;
  --breakpoint-md: 30rem;
  --breakpoint-lg: 48rem;
  --breakpoint-xl: 80rem;

  /* Fonts */
  --font-sans: "var(--font-alpino)", sans-serif;
  --font-inter: var(--font-inter);

  /* Colors */
  --color-*: initial;
  --color-mainBG: #FFF5DD;
  --color-bgBtm: #B67216;
  --color-whiteText: #fff;

  /* Radius */
  --radius-Btm: 8px;

  /* Borders */
  --border-border: 1px solid #000;

  /* Font sizes */
  --text-lgBtm: 24px;
  --text-mediumDesk: 36px;
  --text-lg: 24px;
  --text-xl: 64px;

  /* Font-Weight */
  --font-weight-thin: 100; 

  /* Animations */
  --animate-slide-left: slide-left 3s linear infinite;
  --animate-spin-slow: spin 6s linear infinite;
  --animate-marquee: marquee 20s linear infinite;
}

.marquee {
  overflow: hidden;
  position: relative;
}

.marquee-content {
  display: flex;
  width: max-content;  
  animation: scroll-marquee 40s linear infinite; 
}

.marquee-content ul {
  display: flex;
  gap: 2rem;
  align-items: center;
  white-space: nowrap; 
}

.marquee-content li {
  white-space: nowrap; 
}

@keyframes scroll-marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%); 
  }
}


/* @keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  display: inline-block;
  animation: marquee 20s linear infinite;
} */

@utility container {
  margin-inline: auto;
  padding-inline: 1rem;

  @variant md {
    padding-inline: 20px;
  }

  @variant lg {
    padding-inline: 50px;
  }

  @variant xl {
    padding-inline: 100px;
  }
}

.layout {
  width: 390px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 390px) {
    width: 100vw;
    max-width: 1440px;
  }
}
