@import "tailwindcss";

@theme inline {
  /* Breakpoints */
  --breakpoint-*: initial;
  --breakpoint-sm: 22.5rem;
  --breakpoint-md: 30rem;
  --breakpoint-lg: 48rem;
  --breakpoint-xl: 80rem;

  /* Fonts */
  --font-sans: "var(--font-alpino)", sans-serif;
  --font-inter: var(--font-inter);

  /* Colors */
  --color-*: initial;
  --color-mainBG: #FFF5DD;
  --color-bgBtm: #B67216;
  --color-whiteText: #fff;

  /* Radius */
  --radius-Btm: 8px;

  /* Borders */
  --border-border: 1px solid #000;

  /* Font sizes */

  --text-mediumUnderTitleDesk: clamp(14px, 2vw, 32px);
  ;
  --text-mediumDesk: 36px;

  --text-lgBtm: 24px;
  --text-lg: 24px;
  --text-titleXl: 64px;

  --spacingx-pdt: clamp(10px, 2vw, 24px);

  /* Font-Weight */
  --font-weight-thin: 100;

  /* Animations
  --animate-slide-left: slide-left 3s linear infinite;
  --animate-spin-slow: spin 6s linear infinite;
  --animate-marquee: marquee 20s linear infinite; */
}

.layout {
  width: 390px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 390px) {
    width: 100vw;
    max-width: 1440px;
  }
}