.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: #B67216;
    padding: 1rem 0;
}

.logoWrapper {
    margin: 1rem;
}

.logo {
    border-radius: 0 0 1rem 1rem;
}

.contacts {
    display: flex;
    flex-direction: column;
    width: 250px;
    margin-left: 2.5rem;
}

.contactItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #ffffff;
    margin: 0.75rem 0;
}

.icon {
    margin-right: 1rem;
}

.hours {
    display: flex;
    flex-direction: column;
    color: #ffffff;
    margin: 1rem;
}

.hoursTitle {
    padding-bottom: 1rem;
    font-weight: bold;
}

.map {
    margin: 1rem;
    color: #ffffff;
}

/* mob */
@media (max-width: 640px) {
    .container {
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 2rem 0;
    }

    .contacts,
    .hours,
    .map {
        width: 100%;
        margin: 1rem 0;
    }

    .contactItem {
        justify-content: center;
    }

    .logoWrapper {
        margin-bottom: 1rem;
    }
}

/* tab */
@media (min-width: 641px) and (max-width: 1024px) {

    .contacts,
    .hours,
    .map {
        width: 45%;
        margin: 1rem 0;
    }

    .contactItem {
        justify-content: flex-start;
    }
}

/* desc */
@media (min-width: 1025px) {
    .container {
        justify-content: space-around;
    }

    .contacts,
    .hours,
    .map {
        width: auto;
    }
}