:root {
    --main-orange: #b67216;
    --text-white: #ffffff;
}

/* === Base Styles === */
.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: var(--main-orange);
    flex-wrap: wrap;
}

.contacts,
.hours,
.map {
    display: flex;
    flex-direction: column;
    color: var(--text-white);
}

.contacts {
    margin-left: 2.5rem;
}

.contactItem {
    display: flex;
    align-items: center;
    margin: 0.75rem 0;
    color: var(--text-white);
    font-size: 18px;
    font-weight: 400;
}

.icon {
    margin-right: 1rem;
}

.hoursTitle {
    font-weight: bold;
}

.time {
    color: var(--text-white);
    font-size: 18px;
    font-weight: 400;
    margin: 0.75rem 0;
}

/* === Mobile === */
@media (max-width: 640px) {
    .container {
        flex-direction: column;
        text-align: center;
    }

    .logo {
        display: none;
    }

    .contacts {
        width: 100%;
        margin: 1rem 0;
    }

    .contactItem,
    .time {
        justify-content: center;

        margin: 0.35rem 0;
    }

    .logoWrapper {
        margin-bottom: 1rem;
    }
}

/* === Tablet === */
@media (min-width: 641px) and (max-width: 1024px) {

    .contacts,
    .hours {
        margin: 1rem 0;
    }

    .contactItem {
        justify-content: flex-start;
    }
}

/* === Desktop === */
@media (min-width: 1025px) {

    .contacts,
    .hours,
    .map {
        width: auto;
    }
}